.background-dark {
  background-color: rgba($color: #000000, $alpha: 1.0);
}

.terminal {
  display: flex;
  div {
    form {
      textarea {
        border: none;
      }
    }
  }

  label {
    flex: 1;
    margin-right: 4px;
    background-color: black;
    color: lawngreen;
    max-height: 19px;
  }
}

//textarea.content {
//  background-color: black;
//  min-height: 100vh;
//  border: 0px;
//  color: rgb(0, 136, 0);
//  font-size: 12pt;
//  width: 100%;
//  height: 100%;
//}
